# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*/source/.*'
FormatStyle: none
ExtraArgs:
  - -Wno-unused-command-line-argument
