# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-macro-parentheses,
  performance-*

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*3rdparty).*'
FormatStyle: none
