# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*/source/.*'
FormatStyle: none
