# Copyright (c) 2026 Zach Metcalf. All Rights Reserved.

# directories
__pycache__/
.terraform/
bin/
build/
install/

# files
*.env
*.tfstate
*.tfstate.*
*.tfvars
Gemfile.lock

# visual studio
.vs/
*.aps
